project_id             = "replace-with-project-id"
region                 = "asia-northeast1"
environment_id         = "demo"
state_bucket_name      = "replace-with-globally-unique-state-bucket"
state_bucket_location  = "asia-northeast1"
artifact_repository_id = "bokiccio"

labels = {
  application = "bokiccio"
  environment = "demo"
}
